<!DOCTYPE html>


<head>


</head>>

<body>
    <h1> {{title}} </h1>  
    <p> {{name}} </p>  
<form>
    <input>
    <button>Search</button>
    <p id="message1"></p>
</form>

    {{>footer}}

<script src="js/app1.js"></script>
</body>
